<nav class="navbar navbar-expand-md bg-primary navbar-dark">
<ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link"  routerLink="about">Home</a>    
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="about">A propos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="about">Utilisateurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  routerLink="about">Home</a>
    </li>
  </ul>
</nav>

<!-- Black with white text 
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">...</nav>-->

<!-- Blue with white text 
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">...</nav>-->

<div class="container">
  <div class="panel panel-heading" class="text-center"><h3> List Users</h3></div>
  <div class="panel panel-body">
      <table class="table table-striped" border="3">
        <thead class="bg-primary">
          <th>Age</th>
          <th>Email</th>
          <th>Adress</th>
          <th>Actions</th>
        </thead>
          <tbody class="">
            <tr>
              <td>{{age}}</td>
              <td>{{email}}</td>
              <td>{{address.street}} {{address.city}}, {{address.state}}</td>
              <td><button (click)="toggleEdit()">Edit User</button></td>
            </tr>
          </tbody>
      </table>
  </div>
  <br>
  <hr>

    <div *ngIf=isEdit>
	     <h3>Edit User</h3>
      <form>
        <div class="form-group">
          <label for="name">Name:</label><br>
          <input type="text" [(ngModel)]="name"  class="form-control" name="name">
        </div>
        <div class="form-group">
          <label for="age">Age:</label><br>
          <input type="number" [(ngModel)]="age" name="age">
        </div>
        <div class="form-group">
            <label for="email">Email:</label><br>
            <input type="text" [(ngModel)]="email" class="form-control" name="email">
          </div>
          <div class="form-group">
             <label for="street">Street:</label><br>
              <input type="text" [(ngModel)]="address.street" class="form-control" name="street">
          </div>
          <div class="form-group">
            <label for="city">City:</label><br>
                <input type="text" [(ngModel)]="address.city" class="form-control" name="city">
          </div>
          <div class="form-group">
            <label for="state">State:</label><br>
              <input type="text" [(ngModel)]="address.state" class="form-control" name="state">
          </div>
      </form>
    </div>
      <div class="row col-md-6">
        <h3>Add New hobbies</h3>
        <div class="form-group">
        <form (submit)="addHobby(hobby.value)">
          <input type="text"class="form-control" #hobby>
        </form>
      </div>
      <!--<button (click)="onClick()">Click Me</button>-->
        <table class="table table-striped" border="2">
          <thead class="bg-primary">
            <th>Index</th>
            <th>Name</th> 
            <th>Actions</th>                     
          </thead>
          <tbody>
       <tr *ngFor="let hobby of hobbies ;let i=index">
          <td>{{i+1}}</td>
          <td> {{hobby}}</td>
         <td><button (click)="deleteHobby(hobby)">Delete</button></td>
        </tr>
        </tbody>
        </table>
       
    </div>
  </div>

  <div class="">
<h3>Posts</h3>
<div *ngFor='let post of posts'>
  <h4>{{post.title}}</h4>
<p>{{post.body}}</p>
</div>
</div>